*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    
}
.r1{
    border:1px red solid;
    height:827px;
}
.r2{
    border:1px red solid;
    height:183px;
}
.r1r1{
    width:1200px;
    height:170px;
    border: blue 1px solid;
    margin: auto;
    padding:50px 475px 50px 475px;
}
.r1r2{
    width:1200px;
    height:657px;
    border: blue 1px solid;
    margin: auto;
}
.r1r1c1{
    border: green 1px solid;
    width:21%;
    float: left;
    height: 70px;
}
.r1r1c2{
    border: green 1px solid;
    width:79%;
    float: left;
    height: 70px;    
}
.img_ungineering{
    height: 61px;
}
.r1r1c2r1{
    height:48px;
    width:100%;
    border: yellow 1px solid;
    font-size: 27px;
    padding-top:10px;
    font-weight: bold;
}
.r1r1c2r2{
    height:22px;
    width:100%;
    border: yellow 1px solid;
    font-size:8px;

}
.red{
    color: red;
}




    

