*{
    box-sizing: border-box;
}
img{
    width: 58px;
    height: 50px;
}
a{
    font-size: 23px;
}
h1{
    margin: 0px;
}
h6{
    margin: 0px;
}

span{
    color: red;
}
.d1{
    margin-left: 30%;
    margin-top: 3%;
    height: 750px;
    width: 600px;
}
.r1{
    width: 100%;
    height: 11%;
}
.r1c1{
    width:40%;
    height:100%;
    float: left;
    font-size: 6px;
}
.r1c2{
    width:60%;
    height:100%;
    float: left;
    padding-top:
}
.r2{
    border:1px solid black;
    width: 100%;
    height: 11%;
}
.r2c{
    width:50%;
    height:100%;
    float: left;
    text-align: center;
    padding-top: 5%;
}
form{
    height: 78%;
    width: 100%;
    border:1px solid black;
    background: rgb(228,228,240);
    padding-left: 25%;
}
#bigtext{
    padding-top:5%;
    height: 20%;
    width: 100%;
    }
.formbut{
    height:15%;
    width:100%;
}
.labe{
    height: 40%;
    width: 100%;
}
input{
    border:1px solid red;
    border-radius: 7%;
    width: 60%;
    height: 30%;
}
.ad{
    font-size: 10px;
    display: block;
    height: 10%;
    width: 100%;
}
.ad > input{
    font-size: 15px;
    height: 30px;
    background: red;
    color: white;
    width: 60%; 
}
.d2{
    width:100%;
    height: 200px;
    background: rgb(88,88,88);
}
.d2c{
    height: 100%;
    width: 50%;
    float: left;
    color: white;
    padding-top:4%; 
    padding-right:3%;
    padding-left:2%;
}


    
    

