*{
    box-sizing: border-box;
}
img{
    height: 45px;
}
a{
    font-size: 19px;
    color:rgb(0,0,0);
}
h1,h6{
    margin: 0px;
}
body{
    
    height: 700px;
    height: 1000px;
}
span{
    color: red;
}
.logout{
    padding:14px 30px;
    font-size: 20px;
    margin-left:4%;
    background: rgb(255,255,255);
    color: red;
    border: 1px solid red;
}
hr{
    margin: 0px;
}
.d1{
    height: 15%;
    width:100%;
}
.r1{
    width: 50%;
    height: 100%;
    float: left;
}
.r11{
    padding-top: 3%;
    width:15%;
    height: 100%;
    float: left;
}
.r12{
    padding-top: 4%;
    width:60%;
    height: 100%;
    float: left;
}
.r2{
    padding-left: 21%;
    padding-top: 4%;
    width: 50%;
    height: 100%;
    float: right;
}
.d2{
    height:70%;
    width:100%;
}
.c1{
    padding-left: 7%;
    padding-top: 7%;
    height: 100%;
    width: 22%;
    float: left;
}
.c2{
    width: 60%;
    height: 100%;
    background:  rgb(228,228,240);
    float: left;
}
.c21{
    padding-left: 5%;
    padding-top: 3%;
    padding-right: 5%;
    font-size: 23px;
    border: 1px solid rgb(200,200,200);
    width: 100%;
    min-height: 40%;
    background:  rgb(255,255,255);
    margin-bottom: 30px;
    position: relative;
}
.d3{
     background: rgb(88,88,88);
     width: 100%;
     height: 15%;
}
.d31{
    padding-top: 2%;
    padding-left: 3%;
    width: 50%;
    float: left; 
    height: 100%;
    color: rgb(255,255,255);
}
.d32{
    padding-top: 2%;
    padding-right: 3%;
    color: rgb(255,255,255);
    width: 50%;
    float: left; 
    height: 100%;
}
.time{
    position: absolute;
    bottom:13px;
    right:23px;
    text-align: right;
    font-style: italic;
}
    




     

    
