*{
    box-sizing: border-box;
}

body{
    height: 1000px;
    width: 99%;
    font-family: 'Open Sans', sans-serif;
    
}
.r1{
    height:15%;
    width:100%;
}
.r2{
    height:60%;
    width:100%;
}
.r3{
    width: 100%;
    height:25%;
    background-color: #373737;
}
.r1c1{
    width: 16%;
    height:40%;
    margin: 55px 533.047px 35px 533.047px;
}
.r2c1{
    width: 28%;
    height:100%;
    float: left;
}
.r2c2{
    
    width: 44%;
    height:100%;
    float: left;
    background-color:#F4F4F4;
    border:1px #CCC7C4 solid; 
}
.r2c3{
    width: 28%;
    height:100%;
    float: left;
}
.r2c2c1{
    width: 17%;
    height:100%;
    float: left;
}
.r2c2c2{
    width: 66%;
    height:100%;
    float: left;

}
.r2c2c3{
    width: 17%;
    height:100%;
    float: left;
}
.r2c2c2r1{
    width: 100%;
    height:13.33%;
    background-color: white;
    border-bottom:1px #CCC7C4 solid; 
    
}
.r2c2c3r1{
    width: 100%;
    height:13.33%;
    background-color: white;
    border-bottom:1px #CCC7C4 solid; 
    }
.r2c2c1r1{
    width: 100%;
    height:13.33%;
    background-color: white;
    border-bottom:1px #CCC7C4 solid; 
}
.r2c2c2r2{

    width: 100%;
    height:20%;
    padding-right:130px;
    padding-top: 32px;
    font-size: 22px;
    font-weight: bold;
}
.r2c2c2r3{

    width: 100%;
    height:40%;
    font-size:18px;
    font-weight: bold;
}
.r2c2c2r4{

    width: 100%;
    height: 26.67%;
    color: #EF4C4D;
    font-size: 16px;
    font-weight: bold;
}
.r2c2c2r1c1{

    width: 33.33%;
    height:100%;
    float: left;
    font-size: 20px;
    padding-top:23px;
    font-weight: bold;
}
.r2c2c2r1c2{

    width: 33.33%;
    height:100%;
    float: left;    
}
.r2c2c2r1c3{

    width: 33.33%;
    height:100%;
    float: left;
    font-size: 20px;
    padding-top:23px;
    font-weight: bold;
    color: red;

}
.r3c1{
    width:68%;
    height:100%;
    float: left;
    padding:75px 584px 75px 128px; 
}
.r3c2{
    width: 32%;
    height:100%;
    float: right;
    padding:75px 96px 90px 0px;
    
              
}
.r3c1r1{
    font-size: 16px;
    color: #EAEAEA;
    height:35%;
    width:100%;
}
.r3c1r2{
    height:65%;
    width:100%;
    padding-top:0px;
}
.r3c1r1c1{
    width:25%;
    height:100%;
    float: left;
    margin-right:10px;
}
.r3c1r2c2{
    width:25%;
    height:100%;
    float: left;
}

.img_facebook{
    height:33px;
}
.img_youtube{
   height:33px;
}
.r3c2r1{
    height:27%;
    font-size: 16px;
    color: #EAEAEA;
}
.r3c2r2{
    height:73%;
    font-size: 19px;
    color: #EAEAEA;
    padding-left: 38px; 
}
.r1c1c1{
    width:23%;
    height:100%;
    float: left;
}
.r1c1c2{
    width:77%;
    height:100%;
    float: left;
}
.img_ungineering{
    height: 60px;
}
.red{
    color: red;
}
.r1c1c2r1{
    font-size: 26px;
    height: 70%;
    width: 100%;
    padding-top:9px;
    font-weight: bold;
}
.r1c1c2r2{
    font-size: 8px;
    height:30%;
    width: 100%;
    padding-top: 4px;
}
.email_input{
    font-size:27px;
    border: 1px solid #EF4C4D;
    margin-top:7px;
    height: 42px;
}
.log-in{
    height: 40px;
    width: 100%;
    background-color: #EF4C4D;
    margin-top: 20px;
    padding: 8px 154px;
    color: white;
}
